<p>
  <strong>Latitude:</strong>
  <%= @point.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @point.lon %>
</p>

<%= link_to 'Editar', edit_point_path(@point) %> |
<%= link_to 'Voltar', points_path %>
